@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 100px;
  height: 220px;
  padding: 30px 20px;
  position: fixed;
  
}

.wrapper .sidebar h4{
  color: #2D3047;
  text-align: center;
  margin-bottom: 10px;
}

.wrapper .sidebar ul li{
  padding: 10px;
  border-bottom: 2px solid #2D3047;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  border-top: 2px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #2D3047;
  display: block;
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
  margin-bottom: 10px;

}

.wrapper .sidebar ul li:hover{
  background-color: rgba(86,204,255,0.4);
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 1px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #000;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}



#Productthreedium{
  background-color: #FFEDBE;
  width: 500px;
  height: 560px;
}

#circle1{
  color: #734D2F;
  font-size: 15px;
}

#circle2{
  color: #E5B584;
  font-size: 15px;
}

#circle3{
  color: #404040;
  font-size: 15px;
}

#circle4{
  color: #1B3559;
  font-size: 15px;
}

.highlight {
    background-color: rgba(86,204,255,0.6);
    width: 100%;
    color: white;
    font-weight: bold;

}
